body{
    height: 100vh;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);

}

h1{
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 4rem;
}

.wrapper {
    margin: 0 auto;
    background: #ffffff4f;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.15);
    position: relative;
    width: 450px;
}
  

input {
    width:80%;
    border: none;
    height: 50px;
    border-radius: 5px;
    padding: 0px 40px 0px 10px;
    font-size: 16px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

input:focus {
    outline: none;
}

button {
  
    border: none;
    background: none;
    top: 0;
    right: 0;
    height: 50px;
    padding: 0;
    width: 50px;
}